.img-header {
  width: 90rem;
  margin-top: 10px;
  margin-left: -8px;
}
.presentation-text h1 {
  margin-top: -80px;
  line-height: -130px;
  font-size: 80px;
  margin-left: 50px;
}
.presentation-text {
  font-size: 3rem;
  color: rgb(201, 215, 215); 
}
.center  {
  font-size: 20px;
 margin-top: -600px;
 margin-bottom: 30rem;
 top: 20%;
 margin-left: 25%;
}
.center h1 {
  color: rgb(219, 219, 219);
}
.btn-contact {
  display: flex;
  margin-left: 17rem;
  padding: 20px;
  border-radius: 20px;
  border: none;
  color: azure;
  background-color: rgb(111, 13, 186);
  cursor: pointer;
  position: absolute;
}
.btn-contact:hover {
  box-shadow: 1px 1px 15px 1px rgb(111, 13, 186);
  background-color: rgb(231, 231, 231);
  color: rgb(111, 13, 186);
  transition: all 0.9s;
  
}
.susy-name {
  color:rgb(194, 78, 78);
  font-size: 40px;
}
@media (max-width: 405px )   {
    .img-header{
      width: 405px;
    }
    .center {
       color: rgb(105, 105, 105);
       font-size: 20px;
       margin-top: -180px;
       position: none;     
       margin-left: 0%;
    }
    .center h1 {
      color: rgb(201, 199, 199);
    }
    .center p {
      margin-left: 3px;
    }
    .btn-contact {
      margin-left: 150px;
      margin-top: 20px;
    }
}


