.second-navbar {
  position: sticky;
  top: 5px;
  z-index: 100;
}
.second-navbar button {
  display: none;
}
.img-logo {
  height: 100px;
  margin-top: 1px;
  margin-left: 100px;
  border-radius: 20px;
  cursor: pointer;
}
.second-navbar {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding: 5px;
  padding-top: 1px;
  margin-top: 18px;
  margin-bottom: -10px;
  margin-left: -6px;
  margin-right: -10px;
  margin-bottom: -5px;
}
.list-navbar {
  display: flex;
  margin-right: 400px;
}
.list-navbar li {
  margin-left: 100px;
  margin-top: 25px;
  list-style: none;
  cursor: pointer;
  padding: 0;
  font-size: 19px;
  color: rgb(194, 78, 78);
}
li:active {
  color: rgb(111, 13, 186);
  text-decoration: underline;
}
li:hover {
  color: rgb(111, 13, 186);
  transition: all 1s;
}
a:-webkit-any-link {
  color: gray;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 405px )   {
  .second-navbar{
    
    margin-top: -10px;
  }
  .second-navbar button {
    display: flex;
    color: rgb(34, 34, 34);
    cursor: pointer;
    height: 31px;
  }
  .second-navbar {
    background-color: rgb(253, 150, 150);
    color: white;
    margin-left: 0px;
    width: 405px;
    
  }
  .second-navbar  ol {
    flex-direction: column;
    margin-left: -35px;
  }
  nav {
    display:flex;
    height: 0vh;
    overflow: hidden;
    opacity: 0;
    transition: all .9s ease;
  }
  nav.is-Active {
    display: flex;
    height: 50vh;
    opacity: 1;
  }
  .second-navbar {
    top: 0px;
  }
    }
   
