.aboutMe{
  display: flex;
  background-color: rgb(233, 233, 233);
  font-size: 30px;
  line-height: 40px;
  color: rgb(126, 125, 125);
}
.susy-pick{
  height: 50rem;
}
.text-about-me{
  margin: 40px;
  margin-top: 150px;
}
.decoration{
  line-height: 50px;
}
@media (max-width: 414px )   {
    
}