.nav-bar-first {
  background-color: rgb(231, 231, 231);
  color: rgb(97, 100, 102);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  position: relative;
  margin: -15px;
  box-shadow: 1px 1px 30px -10px;
  height: 60px;
}
.phone-number-mail{
  display: flex;
  align-items: flex-end;
  padding: 10px;
  padding-right: 10px;
  padding-left: 80px;
}
.phone-number-mail p {
  margin-left: 20px; 
  padding-left: 30px;
}
.phone-number-mail svg{
  font-size: 15px;
}
.email:hover{
  color: blueviolet;
  cursor: pointer;
}
.css-i4bv87-MuiSvgIcon-root{
  font-size: 15px;
}
.social-networks{
  padding-top: 20px;
  padding-right: 40px;
  display: flex;
  align-items: flex-start;
}
.social-networks svg {
  padding-right: 30px;
  cursor: pointer;
  padding-top: 10px;
  font-size: 15px;
}

.iconFaceboock:hover {
  color: blue;
  font-size: 1.5rem;
  transition: all 0.9s;
}
.instaIcon:hover{
  color: purple;
  font-size: 1.5rem;
  transition: all 0.9s;
}
.whatsIcon:hover{
  color: green;
  font-size: 1.5rem;
  transition: all 0.9s;
}
.iconFaceboock, 
.instaIcon,
.whatsIcon {
  color:rgb(29, 29, 29); 
}
@media (max-width:  375px)   {
    .nav-bar-first{
     display: none;
    }
}
