.section{
  background: rgb(59,27,126);
  background: linear-gradient(240deg, rgba(59,27,126,0.9486388305322129) 49%, rgba(255,186,0,0.8954175420168067) 100%);
  color: azure;
  height: 8rem;
  margin: 0;
  
}
.sectionTwo p {
  padding: 20px;
  color: rgb(231, 226, 226);
  line-height: 50px;
  padding: 60px;
  font-size: 20px;
}
.sectionTwo{
  height: 8rem;
  margin: -9px;
}
@media (max-width:  336px)   {
    .section{
      height: 43rem;
      margin-bottom: 20px;
    }
}