.section {
  background: rgb(59,27,126);
  background: linear-gradient(240deg, rgba(59,27,126,0.9486388305322129) 49%, rgba(172, 3, 113, 0.895) 100%);
  color: azure;
  height: 8rem;
  margin: 0;  
}
.sectionTwo p {
  padding: 4%;
  color: rgb(231, 226, 226);
  line-height: 50px;
  font-size: 20px;
}
.sectionTwo {
  height: 8rem;
  margin: 0px;
}
@media (max-width:  405px)   {
    .section {
      height: 49rem;
      width: 70%;
    }
}