.css-djcplw-MuiPaper-root{
  margin-top: -15rem; 
}
.box{
  margin-left: 15%;
  margin-top: -28rem;
  width: 60rem;
  height: 10rem;
}
.box {
  border-radius: 20px;
}
@media (max-width:  375px)   {
    .box{
      margin-top: -19rem;
      margin-left: 5px;
      
    }
    .css-djcplw-MuiPaper-root{
      margin-top: 10pxs;
      display: flex;
      
    }
}
