.gallery-text h1{
  color: rgb(102, 101, 101);
  line-height: 32px;
}
.gallery-text{
  color: rgb(136, 134, 134);
  font-size: 20px;
  line-height: 30px;
  margin-top: -20px;
}
.gallery-text{
  display: flex;
  flex-direction: column;
  margin-left: 35rem;
  margin-right: -30rem;
  margin-top: -30rem;
}
.decoration{
  color: rgb(194, 78, 78);
  font-size: 80px;
}
.decoration2{
  color: rgb(194, 78, 78);
  font-size: 25px;
}
@media (max-width:  375px)   {
    .gallery-text {
      margin-top: 50px;
      margin-left: 10px;
      margin-right: 2rem;

    }
}