.final-text{
  background-image: url(/proyecto-susy012.png);
  background-color: rgb(59,27,126);
  background-size: 20rem;
  background-repeat: no-repeat;
  height: 20rem;
  padding-top: 8rem;
  padding-left: 19rem;
  padding-right: 10rem;
  margin-Top: 30rem;
  box-shadow: 1px 5px 50px 1px;
  border-radius: 5px;
}
.final-text h3 {
  display: flex;
  flex-direction: column;
  color: rgb(180, 176, 176);
  font-size: 30px;
}
.final-text p {
  color: rgb(190, 185, 185);
  font-size: 25px;
  margin-left: 20px;
}
.final-text span {
  color: rgb(194, 78, 78);
}
@media (max-width:  375px)   {
    .final-text{
  margin-Top: 55rem;
  width: 0px;
  background-image: none; 
  padding-left: 15rem;
  display: flex;
  flex-direction: column;
  
}
.final-text h3{
  margin: -90px;
  margin-left: -200px;
}
.final-text p {
  margin-top: 110px;
  margin-left: -200px;
  margin-right: -90px;
}


}