.final-text{
  background-image: url(/proyecto-susy012.png);
  background-color: rgb(59,27,126);
  background-size: 20rem;
  background-repeat: no-repeat;
  height: 20rem;
  padding-top: 8rem;
  padding-left: 19rem;
  padding-right: 10rem;
  margin-Top: 30rem;
  box-shadow: 1px 5px 50px 1px;
  border-radius: 5px;
}
.final-text h3 {
  display: flex;
  flex-direction: column;
  color: rgb(148, 146, 146);
  font-size: 30px;
}
.final-text p {
  color: rgb(133, 128, 128);
  font-size: 25px;
  margin-left: 20px;
}
.final-text span {
  color: rgb(194, 78, 78);
}