* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}
@media (max-width: 420px )   {
    hr{
      display: none;
    }
    body {
      max-width: 414px;
    }
}
