.footer-style{
  background-color: rgb(207, 205, 205);
  margin-top: 50px;
  height: 15rem;
  padding-top: 2rem;
  box-shadow: -10px -1px 20px -4px;
  border-radius: 5px;
}
.footer-style{
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.footer-style li {
  list-style: none;
  color: rgb(77, 77, 77);
}
.footer-style h2{
  color: rgb(51, 50, 50);
}
.footer-style h3{
  color: rgb(51, 50, 50);
}