.footer-style {
  background-color: rgb(240, 225, 255);
  margin-top: 50px;
  height: 15rem;
  padding-top: 2rem;
  box-shadow: -10px -1px 20px -4px;
  border-radius: 5px;
}
.footer-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.footer-logo {
  display: flex;
  align-items: end;
  margin-left: 8rem;
}

.footer-style li {
  list-style: none;
  color: rgb(48, 48, 48);
}
.footer-style h2 {
  color: rgb(51, 50, 50);
}
.footer-style h3 {
  color: rgb(51, 50, 50);
}
.firme {
  display: flex;
  align-items: flex-end;
  color: rgb(124, 124, 124);
  font-size: 15px;
}
.footer-style a {
  margin: 20px;
  padding-top: 20px;
}

.footer-image{
  border-radius: 50%;
  width: 20rem;
  margin: 2%;
}

.signature {
  display: flex;
  align-items: center;
  margin-top: -60px;
  margin-left: 4%;
}

.signature img {
  width: 50px;
  cursor: pointer;
}

.signature img:hover {
  border-radius: 5px;
  background-color: aqua;
  background-size: 30px;
  transition: .5s;
}
@media (max-width: 768px )   {
    .footer-style{
      flex-direction: column;
      height: 35rem;
      padding-left: 0px;
      line-height: 50px;
    }
    .schedule {
    justify-content: center;
      
    }

    .footer-logo {
      justify-content: center;
    }

    .footer-image {
      width: 1rem;
      width: 220px;
    }
    .footer-style a {
      margin-right: 20px;
      height: 45rem;
    }
    .signature {
      margin-top: 2rem;
    }

    .signature {
      display: none;
    }
}