.title-section-three{
  display: flex;
  flex-direction: column;  
  padding-left: 200px;
  padding-right: 800px;
}
.title-section-three p{
  color: rgb(116, 116, 116);
  line-height: 30px;
  font-size: 20px;
}
.title-section-three h1{
  color: rgb(102, 101, 101);
}
hr {
  width: 60rem;
}

